body {
    background-color: #FFFF65;
}

.card-img-top {
    max-width: 100%;
    max-height: 400px;
    object-fit: contain;
    background-color: #F35588;
  }
  
  
.card-body {
    background-color:#F35588;
}