body {
    background-color: #FFFF65;
}

h1, h2 {
    font-family:'Zeyada', cursive;
    font-weight: bold;
}

.card-img-top {
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;   
  }
  
  
.card-body {
    background-color:#da042a;
}

.img-fluid {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover; 
}

.card{
    background-color: #FFFF65;
}

.card-header {
    background-color: #da042a;
}

.btn {
    background-color: #FFFF65;
}

